<div class="row d-flex justify-content-center" style="min-width: 960px;">
  <div class="col-md-6 order-md-2 mb-4">

    <div class="row mt-3 d-flex justify-content-between">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">支出清單</span>
      </h4>
      <div class="dropdown col-md-4 order-md-2 mb-4 col-6">
        <button class="btn btn-light dropdown-toggle btn-lg" type="button" id="dropdownMenu2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          分類
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">家居物業</button>
          <button class="dropdown-item" type="button">交通出行</button>
          <button class="dropdown-item" type="button">休閒娛樂</button>
          <button class="dropdown-item" type="button">餐飲食品</button>
          <button class="dropdown-item" type="button">其他</button>
        </div>
      </div>
    </div>

    {{#each records}}
    <div class="row border border-dark mb-1">
      <div class="col-2 category-img mx-auto">
        <span style="font-size: 2.5em; color: rgb(196, 196, 196);">
          <i class="fas {{this.icon}}"></i>
        </span>
      </div>
      <div class="col-4">
        <h5 class="my-0 mt-2">
          {{this.name}}
        </h5>
        <small class="text-muted mt-2">
          {{this.date}}
        </small>
      </div>
      <div class="col-2 amount my-auto">
        <h4 class="mt-2">
          ${{this.amount}}
        </h4>
      </div>
      <div class="col-auto button-group my-auto">
        <a href="./records/{{ this._id }}/edit" class="btn btn-light mr-2">修改</a>
        <a href="./records/{{ this._id }}/delet" class="btn btn-outline-danger">刪除</a>
      </div>
    </div>
    {{/each}}

    <div class="row justify-content-center mt-4 mx-auto">
      <a href="./records/new" class="btn btn-warning">新增記帳</a>
    </div>
  </div>
</div>